
<nav class="navbar" style="background-color: white;border-bottom: #7b838b;">
    <a class="navbar-brand"  sytle="color:white" href="https://www.whydonate.nl/">
    <img  style="border-right: 1px solid #7b838b;padding-right: 10%; width:184px;height:40px" src="../../assets/new_design_logo.png">
  
    <span style="color:#70d843; font-size: 20px;margin-left: 10%;">Assignment</span>
  </a>
    <!-- #70d843 -->
    <div class="spacer"></div>
    <button  mat-raised-button  color="primary" (click)="homepage()">Home</button>
    <button mat-raised-button color="primary" style="margin-left:20px" (click)="addCustomers()">Add Customers</button>
  </nav>

